
<!DOCTYPE html>
<html lang="en">
  <head>
      {{>headerlink}}
</head>
<body>
     <div class="container-fluid main_menu">
        <div class="row">
          <div class="col-md-10 col-12 mx-auto">
           {{>navbar}}
          </div>
        </div>
     </div>

         <!--main Header-->

     <div class="container-fluid main_header">
        <div class="row">
           <div class="col-md-10 col-12 mx-auto">
             <div class="row">
                <div class="col-md-12 col-12 main_header_left align-items-center">
                
                    <figure class="errimg">
                        <img src="images/404.jpeg" alt="Demo" class="img-fluid" title="Test">
                    </figure>
                     
                

               
                <p>Welcome</p>
                <h2>{{errormsg}}</h2>
                <a href="/"><button>Go Back</button></a>

               </div>  

              

             

            </div>
        </div>
      </div>  


      <!--footer code-->
          <footer>
            <p>created by @Molay Giri</p>
          </footer>


      <!--footer end-->
</body>
</html>