
<!DOCTYPE html>
<html lang="en">
  <head>
      {{>headerlink}}
</head>
<body>
     <div class="container-fluid main_menu">
        <div class="row">
          <div class="col-md-10 col-12 mx-auto">
           {{>navbar}}
          </div>
        </div>
     </div>

         <!--main Header-->

     <div class="container-fluid main_header">
        <div class="row">
           <div class="col-md-10 col-12 mx-auto">
             <div class="row">
                <div class="col-md-6 col-12 main_header_right">
                
                    <figure>
                        <img src="images/about.jpg" alt="Demo" class="img-fluid" title="Test">
                    </figure>
                     
                  </div>  
                
               <div class="col-md-6 col-12 main_header_left">

               
                <p>About My Biodata</p>
                <h2>My Name is <span class="txt_clr">Molay Kumar Giri</span> MERN stack developr</h2>
                <a href="/about"><button>About Me</button></a>

               </div>  

              

             

            </div>
        </div>
      </div>  


      <!--footer code-->
          <footer>
            <p>created by @Molay Giri</p>
          </footer>


      <!--footer end-->
</body>
</html>