
<!DOCTYPE html>
<html lang="en">
  <head>
   {{>headerlink}}
</head>
<body>
     <div class="container-fluid main_menu">
        <div class="row">
          <div class="col-md-10 col-12 mx-auto">
           {{>navbar}}





          </div>
        </div>
     </div>

         <!--main Header-->

    
                <section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp" class="img-fluid"
          alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
       LOGOUT
      </div>
    </div>
 
  
    <!-- Right -->
  </div>
</section>
                 
            

            

      <!--footer code-->
        {{>footer}}


      <!--footer end-->
</body>
</html>